<div class="post-show row">
  <div class="col-md-8">
    <%=image_tag @post.image, class: 'image' %>
  </div>
  <div class="col-md-4">
    <div class="user">
      <div class="avatar">
        <% if @post.user.avatar.attached? %>
          <%= link_to user_path(@post.user) do %>
            <%= image_tag @post.user.avatar %>
          <% end %>
        <% end %>
      </div>
      <%= link_to @post.user.username, user_path(@post.user), class: 'username' %>
    </div>
    <div class="description">

        <% if current_user.posts.exists?(@post.id) %>
          <%= link_to 'Remove Post', post_path(@post), method: :delete, data: { confirm: 'Are you sure?' } %>
        <% end %>

       <h4>Описание:</h4>
      <%= @post.description %>
      <h4>Комментарии:</h4>

      <%= render "posts/comments" , post:@post%>
    </div>
  </div>

  <div>
  <% if Like.where(user_id: current_user.id, post_id: @post.id).empty? %>
    <%= link_to("<button>Like it!</button>".html_safe,
                post_likes_path(user_id: current_user.id,
                                post_id: @post.id),
                method: :create) %>
  <% else %>
    <%= link_to("<button>Don't like it anymore!</button>".html_safe,
                post_like_path(user_id: current_user.id,
                               post_id: @post.id),
                method: :delete)%>
  <% end %>
  <%= @post.likes.count %>
  <br>
  </div>
</div>
<br>
<div class="comments">
  <%= form_for @comment do |f| %>
    <%= f.hidden_field :post_id,value: @post.id %>
    <%= f.text_field :comment,placeholder: "Add comment here" %>
    <%= f.submit "Post the comment", class: "btn btn-success float-right" %>
  <% end %>
  <% flash.each do |_type, msg| %>
    <div class="alert alert-info"><%= msg %></div>
  <% end %>
</div>